!!!5
%html
  %head{class:"no-js", lang:"es"}
    %meta{charset: "utf-8"}
    %title Restaurante Fantastik
    %meta{name:"description", content:"Como rico en el mejor restaurante de la ciudad, servicio de primera"}
    %meta{name:"viewport", content:"width=device-width", initial-scale=1}
  %body
  Leon
      
